body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

/* div */
#preview-div {
    padding: 11.6% 21%;
}


/* Image */
#product-img-desktop {
    border-radius: 5px 0 0 5px;
}

#product-img-mobile {
    display: none;
}


/* Card body */
.card-body {
    margin-top: 1rem;
    margin-right: 0.5rem;
}

#subtitle {
    letter-spacing: 5px;
    font-size: 13px;
}

.card-title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    line-height: 0.9;
}

#new-price {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    width: 157px;
}

#old-price {
    text-decoration: line-through;
    padding: 14px 0;
}

#button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 13px;
    padding: 12px 0;
}

#button:hover {
    background-color: hsl(158, 36%, 20%);
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* For Mobile */
@media (max-width:375px) {
    #preview-div {
        padding: 8% 4%;
    }


    /* Image */
    #product-img-desktop {
        display: none;
    }

    #product-img-mobile {
        display: block;
        border-radius: 5px 5px 0 0;
    }


    /* Card Body */
    .card-body {
        margin-left: 1.5rem;
        margin-right: 0.4rem;
        padding-right: 0;
    }

    .card-title {
        font-size: 31px;
    }

    #new-price {
        width: 159px;
    }

    #old-price {
        width: 157px;
    }

    #button {
        margin-right: 0.5rem;
    }
}